# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: release

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: write # create releases
  packages: write # push to ghcr

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: go-semantic-release/action@v1
        id: semrel
        with:
          allow-initial-development-versions: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        if: ${{ steps.semrel.outputs.version != '' }}
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ steps.semrel.outputs.version != '' }}
          platforms: linux/arm64/v8,linux/amd64,linux/arm,linux/ppc64le,linux/s390x
          tags: |
            ghcr.io/${{ github.repository }}:${{ steps.semrel.outputs.version != '' && steps.semrel.outputs.version || 'latest' }}
            ghcr.io/${{ github.repository }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
